body{
    width: 80%;
    margin: 0 auto;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}
.lista{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
ul{
    list-style-type: none;
    
}

