#app{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
img{
    width: 400px;
    
}
h3{
    font-size: 40px;
}